@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;600&family=Nanum+Pen+Script&display=swap')
	;

table, td, th {
	border-top: 1px solid black;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#container {
	margin: 0 auto;
	width: 1300px;
	height: 100%;
}

#nav_menu {
	float: left;
	width: 20%;
	height: 850px;
}

#nav_menu ul {
	margin-top: 100px;
}

#nav_menu li a {
	display: inline-block;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 5px 5px 30px;
}

#member_content {
	float: right;
	position: relative;
	width: 80%;
	height: 850px;
}

#member_info_title {
	position: absolute;
	top: 13%;
	left: 10px;
	font-size: 15px;
	font-weight: bold;
}

#membe_title_grp {
	position: absolute;
	width: 850px;
	height: 30px;
	top: 16%;
	left: 10px;
}

#member_del {
	position: absolute;
	top: 0;
	right: 0;
}

#member_cnt {
	position: absolute;
	bottom: 40%;
}

#member_list {
	position: absolute;
	top: 19%;
	left: 10px;
	width: 850px;
	text-align: center;
	font-size: 13px;
	line-height: 25px;
	margin: 20px 0;
}

#member_list tr:first-of-type {
	background-color: #ccc;
	height: 50px;
	line-height: 50px;
}

#prev_next {
	clear: both;
	width: 800px;
	text-align: center;
	margin-left: 350px;
}

#prev_next a {
	color: black;
}