#container {
	margin: 0 auto;
	width: 1300px;
	height: 1400px;
}

#nav_menu {
	float: left;
	width: 20%;
	height: 100%;
}

#nav_menu ul {
	margin-top: 100px;
}

#nav_menu li a {
	display: inline-block;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 5px 5px 30px;
}

#product_content {
	float: right;
	position: relative;
	width: 80%;
	height: 100%;
}

#category_group {
	position: absolute;
	top: 100px;
	left: 4%;
}

.store_btn {
	width: 100px;
	height: 40px;
	background: rgb(158, 158, 158);
	color: white;
	border: 1px solid rgb(158, 158, 158);
	border-radius: 50px;
}

#funiture, #fabric, #light {
	margin: 0 10px;
}

#total {
	/* border: 1px solid black; */
	position: absolute;
	top: 110px;
	left: 4%;
	font-size: 15px;
	font-weight: bold;
	width: 100px;
	height: 40px;
}


#prod_mange {
	position: absolute;
	width: 300px;
	height: 40px;
	top: 110px;
	left: 76%;
}
#prod_alt, #prod_del {
	width: 70px; 
	height: 30px;
	cursor: pointer;
}

#prod_container {
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	width: 900px;
	height: 1200px;
	top: 12%;
	left: 4%;
}

.productImg {
	width: 200px;
	height: 200px;
	border-radius: 6px;
}

.product_wrapper .proDetail {
	width: 220px;
	padding: 15px;
	margin: 15px;
}

.product_wrapper {
	display: flex;
	flex-wrap: wrap;
}

#p_no {
	font-size: 12px;
	font-family: bold;
	color: black;
}

#prev_next {
	clear: both;
	width: 800px;
	height: 50px;
	text-align: center;
	margin-left: 350px;
	padding-top: 30px;
}

.pname {
	padding: 10px 20px 10px 0;
	font-size: 17px;
	font-weight: 500;
}

.pbrand {
	font-size: 13px;
	font-weight: 900;
	color: #656e75;
}

.pprice {
	float: right;
	padding-right: 20px;
	color: black;
	font-size: 20px;
	font-weight: 900;
}

#prev_next a {
	color: black;
}